.git
.github
.idea
.vscode

**/.DS_Store
**/.env
**/.env.*
!**/.env.example
!frontend/.env
**/node_modules
**/vendor
**/dist
**/coverage
**/.phpunit.cache

backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
